name: Deploy Task Service

on:
  push:
    branches: [ main, develop ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: |
          docker build -t riko-inc/task-service:latest .

      - name: Save Docker image to archive
        run: |
          docker save riko-inc/task-service:latest -o $GITHUB_WORKSPACE/image.tar

      - name: Check saved image
        run: ls -lah $GITHUB_WORKSPACE/image.tar

      - name: Fix file permissions
        run: chmod 644 $GITHUB_WORKSPACE/image.tar

      - name: Проверка наличия файла image.tar
        run: ls -lah $GITHUB_WORKSPAimage.tar

      - name: Transfer image to server via SCP
        uses: appleboy/scp-action@master
        with:
          host: 82.202.138.236
          username: 'user1'
          key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCz9ebQRkYliT8VjoVYDQa2Pdj4Dcdvz2/3GH2v7Fprq/0P8I88CQYO/BHYcgB2fIn0K0HeVCrrKq6UVY5dihNHS3L8w878Zj7sZsLL2DiCX86S/WNWF1tTzpsKC9WfDwvxHGILer/2eF1wAF0RWV7YtlemCzb87e7wLhzP8rlxqxf+6y45ZV6ozQHcfV8HJGrEfp1c1oQyfKgbHcjcJ6sJUi1d78P//+J7EouDsQI48gZxV4o+L6bJNsiGbrrLxHtw8WmWegNOxnjFS8HWIu4hd+Gy/IrAw+MBoT9Atigy+Kv67BGD3wvYJ9TRHVo2ZIh7t4CkfEGQegCAsxoq9UGVW1E4seU+tzG8ZX9FsOQZanz6vjsCExdRuVEFWli78BKvPDEve7ndty3ffEipE+IPWDSmKMcFymlLXu1+wt+bkdumeGtwXZlVhdLWGkCiKSEp3jDuELuHX8H+BAKiyeWEobZZ6PLrHeYi1M/ftF02gVmDT0DMLXPPxTC1Ushx/uM= riko@riko-Nitro-AN515-55"
          port: '12355'
          source: "$GITHUB_WORKSPACE/image.tar"
          target: "/tmp/"
          debug: true

      - name: Deploy on server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: 82.202.138.236
          username: 'user1'
          port: '12355'
          key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCz9ebQRkYliT8VjoVYDQa2Pdj4Dcdvz2/3GH2v7Fprq/0P8I88CQYO/BHYcgB2fIn0K0HeVCrrKq6UVY5dihNHS3L8w878Zj7sZsLL2DiCX86S/WNWF1tTzpsKC9WfDwvxHGILer/2eF1wAF0RWV7YtlemCzb87e7wLhzP8rlxqxf+6y45ZV6ozQHcfV8HJGrEfp1c1oQyfKgbHcjcJ6sJUi1d78P//+J7EouDsQI48gZxV4o+L6bJNsiGbrrLxHtw8WmWegNOxnjFS8HWIu4hd+Gy/IrAw+MBoT9Atigy+Kv67BGD3wvYJ9TRHVo2ZIh7t4CkfEGQegCAsxoq9UGVW1E4seU+tzG8ZX9FsOQZanz6vjsCExdRuVEFWli78BKvPDEve7ndty3ffEipE+IPWDSmKMcFymlLXu1+wt+bkdumeGtwXZlVhdLWGkCiKSEp3jDuELuHX8H+BAKiyeWEobZZ6PLrHeYi1M/ftF02gVmDT0DMLXPPxTC1Ushx/uM= riko@riko-Nitro-AN515-55"
          script: |
            ctr images import /tmp/image.tar
            helm upgrade --install task-service /home/user1/task-service --set image.tag=latest
          debug: true
